:root {
    --purple_light: #8B7DB0;
    --purple_dark: #4B3389;
    --green_light: #68C5AE;
    --green_dark: #166567;
    --white: #EBEAEA;
    --main_blue: #04293F;
    --black: #000000;
  }
body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
    background-color: var(--main_blue);
    height: 50px;
}
nav>a{
    padding-top: 10%;
    text-decoration: none;
    color: var(--white);
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: sticky;
    text-align: center;
}
input{
    color: var(--white);
}
.welcome_buttons_purple{
    text-decoration: none;
    width:100%;
    margin-bottom: 10%;
    height: 2.5em;
    border-radius: 10px;
    box-shadow:  8px 8px var(--purple_dark);
    background-color: var(--purple_light);
    border: 3px solid var(--purple_dark);
    color:white;
    font-size: 1.2em;
    text-align: left;
}
.welcome_buttons_purple:hover{
    box-shadow:  8px 8px 1px var(--black);
    border: 3px solid var(--black);
}
.welcome_buttons_green{
    width:50%;
    margin-left: 25%;
    height: 2em;
    background-color: var(--green_light);
    border: 2px solid var(--green_dark);
    border-radius: 5px;
    box-shadow:  8px 8px var(--green_dark);
    height: 3em;
}
.welcome_buttons_green:hover{
    box-shadow:  8px 8px 1px var(--black);
    border: 3px solid var(--black);
}

input::placeholder {
    color: white;
    padding-left:5%;
}