.activities-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  
  .activities-header > * {
    height: 10vh;
    padding-top: 10%;
  }
  
  .activity_friends_left {
    background-color: #8B7DB0;
  }
  
  .activity_friends_right {
    background-color: #04293F;
  }
  
  .content > * {
    margin-top: 10%;
    background-color: #8B7DB0;
    border-radius: 10px;
    box-shadow: 5px 5px var(--purple_dark);
    border: 3px solid var(--purple_dark);
    padding-left: 4%;
  }
  
  .addActivity_button {
    margin-top: 10%;
    float: right;
    height: 2em;
  }
  