.settings-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .settings-list li {
    line-height: 3em;
    font-size: 1.8em;
    border-bottom: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--main_blue);
  }
  
  ul {
  display: flex;
  flex-direction: column;
  height: 100%; /* or any fixed height */
}
  ul li:last-child {
 margin-top: 100%;
  position: fixed;
  border-bottom: 0px
}

