:root {
  --purple_light: #beb6d0;
  --purple_dark: #4B3389;
  --green_light: #bfe3dd;
  --green_dark: #166567;
  --white: #EBEAEA;
  --main_blue: #04293F;
  --black: #000000;
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  /*background-image: url("Background-01.svg");*/
  background-color:#EBEAEA;
}
footer {
  background-color: var(--main_blue);
  height: 100%;
}

h1, h2, h3, h4, a{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p input{
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

nav > a {
  padding-top: 10%;
  text-decoration: none;
  color: var(--white);
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: sticky;
  text-align: center;
}

.welcome_buttons_purple {
  text-decoration: none;
  width: 100%;
  margin-bottom: 10%;
  height: 2.5em;
  border-radius: 10px;
  box-shadow: 8px 8px var(--purple_dark);
  background-color: var(--purple_light);
  border: 3px solid var(--purple_dark);
  color: var(--black);
  font-size: 1.2em;
  text-align: left;
}
.welcome_buttons_purple:hover {
  box-shadow: 8px 8px 1px var(--black);
  border: 3px solid var(--black);
}
.welcome_buttons_green {
  width: 50%;
  margin-left: 25%;
  height: 2em;
  background-color: var(--green_light);
  border: 2px solid var(--green_dark);
  border-radius: 5px;
  box-shadow: 8px 8px var(--green_dark);
  height: 3em;
  color: black;
}
.welcome_buttons_green:hover {
  box-shadow: 8px 8px 1px var(--black);
  border: 3px solid var(--black);
}
input::placeholder {
  color: var(--main_blue);
  padding-left: 5%;
}
.phone-frame {
  max-width: 430px; /* typical phone width (iPhone 13 Pro) */
  max-height: 100vh;
}
body.light li, body.light h1, body.light h2, body.light a{
  color: black;
}
body.light .new_friend_profile_info_name{
  color: black;
}

body.light .content, body.light .phone-frame{
  background-color: #ffffff;
  color: #000000;
}

body.dark li, body.dark h1, body.dark h2, body.dark a{
  color: white;
}
body.dark .new_friend_profile_info_name{
  color: black;
}

body.dark .content, body.dark .phone-frame{
  background-color: var(--main_blue);
  color: white
}
